html
  head
    title = titlename

  body
    p="ISBN : "+isbn
    p="Title : " +titlename
    for author in authors
      p="Author: " +author
    p="Genre : "+genre
    p="Pages : "+pages
    p="Year : "+ year
    for publisher in publishers
      p= "Publisher : "+publisher
    p="Price : "+price
